<h1>Listing jobbers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Organisation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobbers.each do |jobber| %>
  <tr>

    <td><%= link_to jobber.name, jobber %></td>
    <td><%= jobber.email %></td>
    <td><%= link_to jobber.organisation.name, jobber.organisation %></td>
    <td><%= link_to 'Edit', edit_jobber_path(jobber) %></td>
    <td><%= link_to 'Destroy', jobber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% if @jobbers.empty? %>
  your jobs are unworthy!
  No jobbers! but your money is still welcome here
<%end%>
<br />


